$clr-lightgrey: #DEDDDE;
$clr-grey: #b4b4b4;
$clr-darkgrey: #6d6d6d;
$clr-white: #F3F3F3;
$clr-orange: #ED694C;
$clr-purple: #647DBA;
$clr-yellow: #F1E300;
$clr-lightblue: #5fa8d3;
$clr-blue: #3391e0;
$clr-red: #e03333;
$clr-green: #53ce40;

a.clear-defaults {
  text-decoration: none;
}

.clr-orange {
  color: $clr-orange;
}

.clr-yellow {
  color: $clr-yellow;
}

.bg-orange {
  background: $clr-orange;
}

.bg-yellow {
  background: $clr-yellow;
}

body {
  background: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
}

.btn {
  border: none;
  padding: 5px;
}

.btn.round {
  border-radius: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  //align-items: center;
}

.heading {
  text-align: center;
}

.input-item {
  width: 400px;
  position: relative;
  height: 50px;
  overflow: hidden;
  margin-top: 15px;
}

.input-item input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 10px;
  border: none;
  outline: none;
}

.input-item label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background: #ED694C;
  pointer-events: none;
  border-bottom: 3px solid $clr-grey;
}

.input-item label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid $clr-blue;
  transform: translateX(-100%);
  transition: transform 300ms ease-in;
}

.name-content {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 300ms ease;
}

.input-item input:focus + .label-name .name-content, .input-item input:valid + .label-name .name-content {
  transform: translateY(-150%);
  font-size: 14px;
  color: $clr-blue;
}

.input-item input:focus + .label-name::after, .input-item input:valid + .label-name::after {
  transform: translateX(0);
}

.errorMessage {
  position: relative;
  color: $clr-grey;
}

.errorMessage .material-icons {
  top: -45px;
  right: 0;
  position: absolute;
}

.form-control.success {

}

.errorMessage.success .icon-okay {
  color: $clr-blue;
  visibility: visible;
}

//.errorMessage.error .icon-okay {
//  color: $clr-red;
//  visibility: visible;
//}

//.errorMessage.success .icon-info {
//  color: $clr-blue;
//  visibility: visible;
//}

.errorMessage.error .icon-info {
  color: $clr-red;
  visibility: visible;
}

.icon-info, .icon-okay {
  visibility: hidden;
}


.block {
  display: block !important;
}

.none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}