$clr-grey: #DEDDDE;
$clr-white: #F3F3F3;
$clr-orange: #ED694C;
$clr-purple: #647DBA;
$clr-yellow: #F1E300;

a.clear-defaults {
  text-decoration: none;
}

.clr-orange {
  color: $clr-orange;
}

.clr-yellow {
  color: $clr-yellow;
}

.bg-orange {
  background: $clr-orange;
}

.bg-yellow {
  background: $clr-yellow;
}

body {
  background: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
}

.btn {
  border: none;
  padding: 5px;
}

.btn.round {
  border-radius: 20px;
}
