$clr-grey: #DEDDDE;
$clr-white: #F3F3F3;
$clr-orange: #ED694C;
$clr-purple: #647DBA;
$clr-yellow: #F1E300;
$clr-lightblue: #5fa8d3;
$clr-blue: #3391e0;
$clr-green: #53ce40;

a.clear-defaults {
  text-decoration: none;
}

.clr-orange {
  color: $clr-orange;
}

.clr-yellow {
  color: $clr-yellow;
}

.bg-orange {
  background: $clr-orange;
}

.bg-yellow {
  background: $clr-yellow;
}

body {
  background: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
}

.btn {
  border: none;
  padding: 5px;
}

.btn.round {
  border-radius: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  //align-items: center;
}

.heading {
  text-align: center;
}

.input-item {
  width: 400px;
  position: relative;
  height: 50px;
  overflow: hidden;
}

.input-item input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 10px;
  border: none;
  outline: none;
}

.input-item label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background: #ED694C;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.input-item label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid $clr-blue;
  transform: translateX(-100%);
  transition: transform 300ms ease-in;
}

.name-content {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 300ms ease;
}

.input-item input:focus + .label-name .name-content, .input-item input:valid + .label-name .name-content {
  transform: translateY(-150%);
  font-size: 14px;
  color: $clr-blue;
}

.input-item input:focus + .label-name::after, .input-item input:valid + .label-name::after {
  transform: translateX(0);
}